<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>Dashboard</h1>
        <form action="/return" method="post">
            <input type="text" name="dproduct" placeholder="">
           <input type="text" name="dinfo" placeholder="">
            <button name="add" value="submit" class="btn btn-dark btn-large">Submit</button>
            <br>
        </form>
    </body>
</html>