<%- include('partials/header')%>
<div class="container text-center f">
    <div class="d-flex flex-column justify-content-center ">  
    <i class="fas fa-key fa-6x"></i>
    <div class="d-flex flex-row ">    
    <a href="/register" class="btn btn-dark btn-lg mt-3 mr-3" role="button">Register</a>
    <a href="/login" class="btn btn-light btn-lg mt-3 mr-3" role="button">Login</a>
</div>
</div>
</div>

<%- include('partials/footer')%>