<%- include('partials/header')%>
<div class="card-container1 oye p-5 rip1 rip9">
    <div class=" d-flex flex-row justify-content-center">
    <img src="https://i.pinimg.com/736x/7b/dd/1b/7bdd1bc7db7fd48025d4e39a0e2f0fd8.jpg" class="i09" style="height :60px; width :60px;"/>
    <h1 class="heading pb-5" style="color :green;">Your order is successfully Placed</h1>
</div>
<div class=" d-flex flex-row justify-content-center">
    <div class="d-flex flex-column text-center">
    <a href="" class="de">Payment Succesfull.</a>
    <a href="" class="de">You will Recieve a Confirmation Email Soon!</a>
</div>
</div>
</div>
<div class="d-flex flex-row justify-content-center mb-5">
    <form action="/craftmen" method="get">
    <button class="button b2 btn btn-danger">Back to Home</button>
  </form>
  </div>
 
<%- include('partials/footer') %>