<%- include('partials/header')%>
<div class="j">
<div class="container">
  <div class="d-flex flex-row justify-content-center">
  
<div class="d-flex flex-row">
    <div class="row">
      <div class="col-sm-8">
        <div class="card shadow">
          <div class="card-body">
            <div class="d-flex flex-row justify-content-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
            </svg>
          </div>
            <!-- Makes POST request to /register route -->
            <form action="/register" method="POST">
              <div class="form-group">
                <label for="name" class="h">Name</label>
                <input type="text" class="form-control" name="name" required>
              </div>
              <div class="form-group">
                <label for="email" class="h">Email</label>
                <input type="email" class="form-control" name="username" required>
              </div>
              <div class="form-group">
                <label for="password" class="h">Password</label>
                <input type="password" class="form-control" name="password" required>
              </div>
              <div>
                <input type="radio" name="type" value="seller" required>
                <label for="sell" class="h">Seller</label>
              </div>
              <div>
                <input type="radio" name="type" value="buyer" required>
                <label for="buy" class="h">Buyer</label>
              </div>
              <button type="submit" class="btn btn-dark">Register</button>
            </form>
  
          </div>
        </div>
        
        </div>
      </div>
    </div> 
  </div>
</div>
</div>
<%- include('partials/footer') %>